# Server
PORT=5000
NODE_ENV=development

# MongoDB Atlas
MONGO_URI=mongodb+srv://rudrapratappandey2020_db_user:lwG9xTt18DkrEERr@cluster0.lkvqjva.mongodb.net/connectmeet?retryWrites=true&w=majority&appName=Cluster0
# JWT Authentication
JWT_SECRET=connectmeet_secret_key_2026_change_later
JWT_EXPIRES_IN=7d

# Frontend URL
CLIENT_ORIGIN=http://localhost:5173